{% extends 'base.html.twig' %}

{% block title %}Contacts List{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 900px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h4>Contacts List ✅</h4>
</div>
<div align="right">
	<a href="/contact_form">
		New Contact
	</a>
</div>
<div id="contacts-table">
	<br/>
	<table border=.1 width="100%" align="center">
	{# <tr><td align="center">{{ contact[0] }}</td><td align="center">{{ contact[2] }}</td></tr> #}
	{% for contact in contacts %}
		<tr>
			<td align="center">{{ contact.id }}</td>
			<td align="center">{{ contact.first_name }}</td>
			<td align="center">{{ contact.last_name }}</td>
			<td align="center">{{ contact.street_and_number }}</td>
			<td align="center">{{ contact.zip }}</td>
			<td align="center">{{ contact.city }}</td>
			<td align="center">{{ contact.country }}</td>
			<td align="center">{{ contact.phone_number }}</td>
			<td align="center">{{ contact.birth_day }}</td>
			<td align="center">{{ contact.email_address }}</td>
			<td align="center">
				{% if loop.first %}
					Edit
				{% else %}
					<a href="/contact_edit_form/{{ contact.id }}">
						Edit
					</a>
				{% endif %}
			</td>
			<td align="center">
				{% if loop.first %}
					Delete
				{% else %}
					<a href="/contact_delete_form/{{ contact.id }}">
						Delete
					</a>
				{% endif %}
			</td>
		</tr>
	{% endfor %}
	</table>
</div>
<div class="example-wrapper">
	<h4>
		For editing or deleting a contact, please click on "Edit" or "Delete" on its row!
		<br/>For creating new contact, please click on "New Contact" on top of the table, in the right corner!
		<br/>Thanks
	
	</h4>
</div>
{% endblock %}
